<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.js" type="text/javascript"></script>
    <script src="angular-mocks.js" type="text/javascript"></script>
    <script src="script.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="mockCtrl">
        <button ng-click="functionGet()">get names</button>
        <input type="text" ng-model="newName">
        <button ng-click="functionPost(newName)">add name</button>
        <p>response status get request: {{httpObj.status}}</p>
        <p>response: {{httpObj.res}}</p>
        <p>response status post request: {{statusPostReq}}</p>
    </div>
</body>
</html>
