<!-- // 11.2 Validation-->
<div class="border">
    {{val}}
    <div>validations</div>
     <form name="formValid">
         <input name="inputValid"  type="text" ng-model="modelValid" placeholder="Валидация по длине" ng-required="true" ng-maxlength="10" minlength="3" >

         <span ng-if="formValid.inputValid.$error.required" class="warning-color">поле должно быть заполнено </span>
         <span ng-if="formValid.inputValid.$error.maxlength" class="warning-color" >максимальная длина 10 </span>
         <span ng-if="formValid.inputValid.$error.minlength" class="warning-color" >минимальная длина 3 </span>
         <span ng-if="!formValid.inputValid.$error.minlength &&
         !formValid.inputValid.$error.maxlength &&
         !formValid.inputValid.$error.required" class="ok-color">valid длина от 3 до 10 </span>
         </br>
         <input type="text" name="mail" ng-model="mailValid" ng-pattern="wordPattern" ng-required="true" placeholder="введите почту">

         <span ng-if="formValid.mail.$error.required" class="warning-color">поле должно быть заполнено</span>
         <span ng-if="formValid.mail.$error.pattern" class="warning-color">invalid email</span>
         <span ng-if="!formValid.mail.$error.pattern && !formValid.mail.$error.required" class="ok-color">email correct</span>
         </br>

         <input type="text" name="number" ng-model="numberVal" ng-pattern="numberPattern" placeholder="price 9999.99" required="true">
         <span ng-if="formValid.number.$error.required" class="warning-color">поле должно быть заполнено</span>
         <span ng-if="formValid.number.$error.pattern" class="warning-color">invalid number</span>
         <span ng-if="!formValid.number.$error.pattern && !formValid.number.$error.required" class="ok-color">number is valid</span>



         <!--<span ng-if="!formValid.email.$error.pattern">write email</span>-->
     </form>
 <!--   <form name="validForm">
        <input  name="validInput" ng-model="validation" type="text" ng-required="true">
        <div> {{validForm.validInput.$valid}}{{validation}}</div>
    </form>-->
</div>
