<h2>directives chapter 1</h2>
<div class="border">
    <h3> ng-if directive</h3>
    <div>text inputNgIf: {{inputNgIf}}</div>
    <div>text scopeObj.inputNgIf{{scObg.inputNgIf}}</div>
    <input type="text" ng-model="inputNgIf" placeholder="inputNgIf">
    <span>ng model to value</span>
    <br>
    <input type="text" ng-model="scopeObj.inputNgIf" placeholder="scopeObj.inputNgIf">
    <span>ng-model to obj.value</span>
    <br>

    <input type="checkbox" ng-model="ngIfShowOrNot"/>

    <div ng-if-start="ngIfShowOrNot" >ng-if start</div>
    <input type="text" ng-model="inputNgIf" placeholder="inputNgIf">
    <span>inheritance scope</span>
    <br>
    <input type="text" ng-model="scopeObj.inputNgIf" placeholder="scopeObj.inputNgIf">
    <span>controllers scope</span>

        <div>some teg</div>
    <div ng-if-end>ng-if end</div>
</div>

<div class="border">
    <h3> ng-show directive</h3>
    <input type="checkbox" ng-model="ngModelShowOrNot"/>
    <div ng-show="ngModelShowOrNot">show this tag</div>
</div>

<div class="border">
    <h3>ng-repeat</h3>
    <ul>
        <li ng-repeat-start="item in user.arr">
            element: {{item}}, index: {{$index}}
            {{$even && " even" || ""}}
            {{$odd && " odd" || ""}}
            {{$last && " Last" || ""}}
            {{$first && " First" || ""}}
            {{$middle && " Middle" || ""}}
        </li>
        <div ng-repeat-end>"also repeated teg"</div>
    </ul>
</div>

<div class="border">
    <h3>ng-class </h3>
    <p ng-class="{'color-class': true,'background-class': true }">Some Text</p>
    <p ng-class="{'color-class': true, 'background-class': false}">Some Text</p>
</div>

<div class="border">
    <h3>ng-style</h3>
    <span ng-style="{'font-size':'20px','color': 'red'}">Some Text
    </span>
</div>

<div class="border">
    <h3>error mes in console</h3>
    <button ng-click="clickFunc()">click</button>
</div>

<h2>directives chapter 2</h2>
<!--custom directives-->
<div class="border">
    <h3>custom directive</h3>
    <div my-directive></div>
</div>
<!-- // 11.1 Directives-->
<div class="border">
    <h3>ng-model</h3>
    <input type="text" ng-model="inpValue">
    <div>input value: {{inpValue}}</div>
</div>

<div class="border">
    <h3>ng-change</h3>
    <input type="text" ng-change="inpChangeFunc()" ng-model="inpValue">
    <div>{{counter}}</div>
</div>

<div class="border">
    <h3>ng-required</h3>
    <form name="form">
        <input name="input" type="text" ng-model="model" ng-required="true">
        <div ng-if="form.input.$error.required" class="warning-color">this field have to be filled</div>
        <div> is this form valid: {{ form.$valid}}</div>
    </form>
</div>

<div class="border">
    <h3>ng-disabled</h3>
    <input type="checkbox" ng-model="disable">
    <input ng-disabled="disable"/>
</div>

<div class="border">
    <h3>ng-value</h3>
    <label ng-repeat="name in names">
        {{name}}
        <input type="radio"
               ng-model="my.favorite"
               ng-value="name"
        >
        <!-- In ng-model have to sigh some value to chose only one field-->
    </label>
    <div>You chose: {{my.favorite}}</div>
</div>

<div class="border">
    <h3>ng-options</h3>

    <select ng-model="optionValue" ng-options="name for name in names"></select>
    <span>{{optionValue || "here will be your choice"}}</span>
    <span>. Iterate the arr with strings</span>
    <br>

    <select ng-model="secondOpt" ng-options="color.name for color in colors">
        <option value="">choose a color</option>
    </select>
    <span>iterate the arr with objects</span>
    <br>

    <select ng-model="thirdOpt" ng-options='value as key for (key, value) in obj'></select>
    <span> iterate the object. Key in option, value in variable ng-model. value = {{thirdOpt || "key not selected"}}</span>
</div>





