<div class="border">
    {{val}}
    <div>validations</div>
    <form name="formValid" novalidate>
        <input name="inputValid" type="text" ng-model="inputsInfo.modelValid" placeholder="Валидация по длине"
               ng-required="true" ng-maxlength="10" minlength="3">
        <span ng-if="formValid.inputValid.$error.required" class="warning-color">the field must be filled </span>
        <span ng-if="formValid.inputValid.$error.maxlength" class="warning-color">max length 10 </span>
        <span ng-if="formValid.inputValid.$error.minlength" class="warning-color">min length 3 </span>
        <span ng-if="!formValid.inputValid.$error.minlength &&
             !formValid.inputValid.$error.maxlength &&
             !formValid.inputValid.$error.required" class="ok-color">valid lenght 3 to 10 </span>
        </br>
        <input type="text" name="mail" ng-model="inputsInfo.mail" ng-pattern="wordPattern" ng-required="true"
               placeholder="введите почту">
        <span>cat@google.com</span>
        <span ng-if="formValid.mail.$error.required" class="warning-color">the field must be filled</span>
        <span ng-if="formValid.mail.$error.pattern" class="warning-color">invalid email</span>
        <span ng-if="!formValid.mail.$error.pattern && !formValid.mail.$error.required"
              class="ok-color">email correct</span>
        </br>
        <input type="text" name="number" ng-model="inputsInfo.number" ng-pattern="numberPattern"
               placeholder="price 9999.99" required="true">
        <span ng-if="formValid.number.$error.required" class="warning-color">the field must be filled</span>
        <span ng-if="formValid.number.$error.pattern" class="warning-color">invalid number</span>
        <span ng-if="!formValid.number.$error.pattern && !formValid.number.$error.required" class="ok-color">number is valid</span>
        </br>
        <input type="text" name="tdp" ng-model="inputsInfo.tdp">
        <span ng-if=" formValid.tdp.$touched">The field has been touched; </span>
        <span ng-if=" formValid.tdp.$dirty">The field has been modified; </span>
        <span ng-if=" formValid.tdp.$pristine">The field has not been modified yet; </span>
        </br>
        <input type="text" placeholder="custom. length 3-10,'cat'" name="validat" ng-model="inputsInfo.validat"
               length-pass>
        <span ng-if="formValid.validat.$error.lengthPass">length should be 3 - 10 ; </span>
        <span ng-if="formValid.validat.$error.customValidatorName">string should contain "cat" ;</span>
        </br>
        <button ng-click="reset()">reset</button>
        <button ng-disabled="!(formValid.$valid && formValid.$dirty)"> form valid</button>
    </form>
</div>
